body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rebeccapurple;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h3 {
  color: whitesmoke;
  text-align: center;
  margin-top: 100px;
}

form {
  text-align: center;
}

div {
  margin-top: 100px;
}

#output {
  margin-top: 100px;
}
